@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Lexend+Giga:wght@500&family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}
body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }

  main{
    /* position: absolute; */
    /* top: 100px; */
    height: 80vh;
    /* width: 70vw; */
    /* border: 2px solid black; */
    box-shadow: 5px 5px 50px black;
    /* padding: 0 20px; */
    overflow-y: scroll;
  }
  .nav h1{
      font-size: 4vw;
      margin: 15px 0;
      padding: 0 5px; 
  }
  .middle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    /* border: 2px solid black; */
  }
  .middle2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    /* border: 2px solid black; */
  }
  .top{
    position: sticky;
    /* width: ; */
    top: 0;
    background-color: white;
    border: 2px solid transparent;
    padding-bottom: 10px;
  }
  .todo-list-grid, .todo-input-grid {
    display: grid;
    grid-template-columns: 100px 200px 200px 150px 150px;
    column-gap: 5px;
    row-gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    
    /* width: 70vw; */
  }
  
  .todo-input-grid {
    margin-bottom: 10px;
    align-items: stretch;
    padding-bottom: 10px;

  }
  
  .date-input, .name-input{
    font-size: 15px;
    padding: 6px;
  }
  
  .add-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .delete-todo-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }


  @media (max-width:600px) {
    .nav h1{
      font-size: 12vw;
      margin: 15px 0;
  }
    
    main{
      position: absolute;
      top: 70px;
      width: 97vw;
      height: 80vh;
      /* border: 2px solid black; */
      box-shadow: 5px 5px 50px black;
      padding: 0;
      overflow-y: scroll;
    }
    .todo-list-grid, .todo-input-grid {
      display: grid;
      grid-template-columns: 4% 25% 25% 18% 18%;
      column-gap: 10px;
      row-gap: 10px;
      align-items: center;
      padding-bottom: 10px;
      padding: 0 7px; 
    }
    
  }